* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  padding: 20px;
  background-color: orange;
  color: white;
}
.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px;
}

.active {
  background-color: red;
  color: azure;
  margin: 10px;
  padding: 5px 20px !important;
  border-radius: 20px;
}

.err {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
.err h1 {
  font-size: 90px;
}

.li {
  margin: 40px;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}
.btn button {
  padding: 5px 20px;
  margin: 20px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.apple {
  background-color: rgb(34, 227, 66);
  color: rgb(7, 9, 14);
}
.oneplus {
  background-color: rgb(206, 19, 227);
  color: white;
}
.samsung {
  background-color: rgb(203, 41, 130);
  color: white;
}

.para {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  text-align: justify;
}
.btn2 button{
    padding: 5px 20px;
  margin: 20px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer; 
}
.back{
    background-color: rgb(172, 208, 211);
}
.next{
    background-color: rgb(211, 196, 172);
}